body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
  font-family: "Source Code Pro";
}
h1 {
  text-align: left;
}
h2 {
  text-align: left;
}
p1 {
  text-align: center;
}
a {
  text-align: center;
}
